/* Estilo general para el cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
/* Estilo para el encabezado */
header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}
/* Estilo para la navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline;
    margin-right: 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
/* Estilo para el contenido principal */
main {
    padding: 2em;
}
/* Estilo para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* Estilo para el formulario */
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
}
input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* Estilo para el botón */
button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
button:hover {
    background-color: #555;
}